html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #333;
}

.cvcont {
    overflow: hidden;
    resize: vertical;
    max-width: 600px;
    height: 300px;
}