.svp.light {
    --back: #fff;
    --font: #111;
    --grid: #cacaca;
}

.svp.dark {
    --back: #1c1d22;
    --font: #c3c3c3;
    --grid: #4a4a4a;
}

.svp {
    all: unset;
    font-family: Verdana, sans-serif;
    background: var(--back);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--font);
    user-select: none;
    padding: 5px;
    box-sizing: border-box;
}

.svp.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
}

.svp .svcont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

.svp .menu {
    all: unset;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.svp .label {
    all: unset;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    padding: 0 7px;
    font-size: 14px;
    cursor: pointer;
    height: 24px;
}

.svp .label.tint {
    filter: opacity(0.4);
}

.svp .label .marker {
    all: unset;
    width: 7px;
    height: 7px;
    margin-right: 6px;
}

.svp .buttons {
    all: unset;
    display: flex;
    align-items: stretch;
    gap: 4px;
    flex-wrap: wrap;
}

.svp .button.active {
    border: 1px solid var(--font);
}

.svp .tblock.active {
    fill: var(--active);
    stroke: black;
    stroke-width: 3;
}

.svp .button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--grid);
    border-radius: 7px;
    padding: 1px;
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.svp .button:hover {
    border: 1px solid var(--font);
}

.svp .none {
    display: none;
}

.svp .dots {
    all: unset;
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}